<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <pages>
      <namespaces>
        <add namespace="System.Data.SqlClient"/>
        <add namespace="System.Data"/>
      </namespaces>
    </pages>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState timeout="240"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate"/>
        <add name="Pragma" value="no-cache"/>
        <add name="Expires" value="0"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <connectionStrings>
    <add name="sqlcon" connectionString="Data Source=.;Initial Catalog=EduCamp;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>
