<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

	<system.web>
    <pages>
      <namespaces>
        <add namespace="System.Data.SqlClient"/>
        <add namespace="System.Data"/>
      </namespaces>
    </pages>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
    <sessionState timeout="60"/>
	</system.web>
	
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>

	<connectionStrings>
		<add name="sqlcon" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	
	</connectionStrings>
</configuration>
